
<!-- [class^='imghvr-shutter-in-']:after, [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before { -->
    <!-- background: #green; -->
    <!-- position: absolute; -->
    <!-- content: ''; -->
	<!-- cursor:pointer; -->
<!-- } -->

<!-- [class^='imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:after { -->
    <!-- top: 0; -->
    <!-- left: 0; -->
	<!-- cursor:pointer; -->
<!-- } -->

<!-- [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:before { -->
    <!-- right: 0; -->
    <!-- bottom: 0; -->
	<!-- cursor:pointer; -->
<!-- } -->

[class^='imghvr-shutter-in-'] figcaption, [class*=' imghvr-shutter-in-'] figcaption {
    opacity: 0;
    z-index: 1;
	cursor:pointer;
}

[class^='imghvr-shutter-in-']:hover figcaption, [class*=' imghvr-shutter-in-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
	cursor:pointer;
	cursor:pointer;
}
<!-- .imghvr-shutter-in-out-horiz:after, .imghvr-shutter-in-out-horiz:before { -->
    <!-- width: 0; -->
    <!-- height: 50%; -->
    <!-- opacity: 0.75; -->
	<!-- cursor:pointer; -->
<!-- } -->

<!-- .imghvr-shutter-in-out-horiz:hover:after, .imghvr-shutter-in-out-horiz:hover:before { -->
    <!-- left:300px;	 -->
	<!-- width: 50%; -->
	<!-- height:auto; -->
	<!-- cursor:pointer; -->
<!-- } -->
.demo {
  display: inline-block;
  width: 24%;
  padding: 10px;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.demo textarea {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  font-family: "Roboto";
  font-size: 0.9em;
  height: 32px;
  padding: 6px 0px;
  resize: none;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}